body {
  margin: 0;
}
.topbar {
  height: 60px;
  background-color: #eee;
  font: "Roboto";
  margin: 0;
}

.landingPageHero { 
    background-image()
}

h7 {
  font-family: "Roboto", sans-serif;
  color: #be506b;
}
